.iconWrapper {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flagWrapper {
  width: 20px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.disabledFlag {
  opacity: 50%;
}
