@forward "reset";
@forward "fonts";
@forward "./themes/minimalisticDark";
@forward "./themes/minimalisticLight";
@forward "./variables/global";

* {
  font-family: 'PTSans', sans-serif;
}

.app {
  width: 100%;
  min-height: 100vh;
  background: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.5s, color 0.5s;
}

.guestLink {
  color: var(--link-text-color);
  line-height: 18px;
  font-size: 14px;

  &:hover {
    color: var(--link-text-hover-color);
  }

  &:focus-within {
    .error, .notchedOutline {
      border-width: 2px !important;
    }
  }
}
