@forward "reset";
@forward "fonts";
@forward "./themes/minimalisticDark";
@forward "./themes/minimalisticLight";
@forward "./variables/global";
@forward "./common/form";
@forward "./common/pages";

* {
  font-family: 'PTSans', sans-serif;
  scrollbar-width: thin;
  scrollbar-color: var(--scroll-active-color) var(--scroll-bg-color);
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: var(--scroll-bg-color);
}

*::-webkit-scrollbar-thumb {
  background: var(--scroll-active-color);
  border-radius: 5px;
  border: 2px solid var(--scroll-bg-color);
}

.app {
  width: 100%;
  min-height: 100vh;
  background: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.5s, color 0.5s;
}

