.wrapperInput {
  border-radius: 12px !important;
  background: var(--input-bg-color);
  padding-right: 10px !important;

  .input {
    font-size: 16px !important;
    line-height: 18px;
    color: var(--input-text-color) !important;
    background: none !important;

    &::placeholder {
      color: var(--input-placeholder-color) !important;
    }
  }

  .notchedOutline, .error {
    border-width: 1px !important;
  }

  .notchedOutline {
    border-color: var(--input-stroke-color) !important;
  }

  .error {
    border-color: var(--input-error-stroke-color) !important;
  }

  &:focus-within {
    .notchedOutline {
      border-color: var(--input-stroke-hover-color) !important;
    }

    .error, .notchedOutline {
      border-width: 2px !important;
    }
  }
}
