.AuthenticatedPageLayout {
  display: flex;
  position: relative;
}

.sidebar {
  position: fixed;
  z-index: var(--sidebar-z-index);
  left: 0;
  top: 0;
}

.content {
  margin-left: 90px;
  width: 100%;
}
