.form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;

  .FieldWrapper {
    display: flex;
    align-items: start;
  }

  .label {
    font-size: 16px;
    line-height: 21px;
    text-align: left;
    margin-bottom: 10px;
  }

  .emailIcon {
    width: 16px;
    height: 12px;
  }

  .showPassword {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .submit, .delete {
    margin-top: 10px;
    width: 100%;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    border-radius: 25px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  .submit {
    background: var(--button-bg-color);
    color: var(--button-text-color);

    &:hover:not(:disabled) {
      background: var(--button-bg-hover-color);
    }
  }

  .delete {
    border: 1px solid var(--button-bg-color);
    color: var(--text-color);

    &:hover:not(:disabled) {
      border: 2px solid var(--button-bg-hover-color);
    }
  }

  .fieldError {
    font-size: 16px;
    line-height: 18px;
  }

  .formError {
    font-size: 18px;
    line-height: 23px;
  }

  .formError, .fieldError {
    color: var(--error-text-color);
  }

  .formSuccess {
    font-weight: bold;
    line-height: 23px;
    font-size: 18px;
    text-align: center;
    color: var(--success-text-color);
  }

  .submitLoader, .deleteLoader {
    width: 30px;
    height: 30px;
    margin: 0 auto;
  }

  .deleteLoader {
    border-right-color: var(--text-color);
  }
}
