.guestLink {
  color: var(--link-text-color);
  line-height: 18px;
  font-size: 14px;
  text-decoration: underline;

  &:hover {
    color: var(--link-text-hover-color);
  }
}

.title {
  margin-top: 15px;
  font-size: 30px;
  font-weight: bold;
  line-height: 39px;
  max-width: 400px;
}
