.MemberList {
  display: flex;
  gap: 20px;
  width: 100%;
  height: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
  position: relative;

  @media screen and (max-width: 640px) {
    gap: 5px;
  }

  .iconPeople {
    position: absolute;
    opacity: 0.1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
  }

  .members {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    z-index: 1;
    justify-content: center;

    .member {
      background: var(--organization-member-card-bg-color);
      border-radius: 25px;
      gap: 5px;
      display: flex;
      align-items: center;
      min-width: 230px;
      padding: 10px;
      transition: 0.3s;
      color: var(--text-color);
      text-decoration: none;

      @media screen and (max-width: 768px) {
        min-width: 210px;
        padding: 5px;
        border-radius: 20px;
      }

      &.myCard {
        background: var(--organization-member-my-card-bg-color);
      }

      &.link {
        cursor: pointer;

        &:hover {
          background: var(--organization-member-card-hover-bg-color);
        }
      }

      .info {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        line-height: 21px;
      }

      .wrapperIconActionMenu {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 15px;
        height: 30px;
        margin-left: auto;
        cursor: pointer;
        margin-right: 10px;
      }

      .iconActionMenu {
        width: 5px;
        height: 20px;
      }

      .iconMemberAdd, .avatar {
        height: 50px;
        width: 50px;
        
        @media screen and (max-width: 768px) {
          width: 40px;
          height: 40px;
        }
      }
    }

    .addMember {
      &:hover {
        background: var(--organization-member-card-hover-bg-color);
      }
    }
  }
}

.iconFilter {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.paper {
  padding: 10px;
  border-radius: 10px;
  background: var(--modal-bg-color) !important;
  border: 1px solid var(--line-color);
}
