.ChatPanel {
  background: var(--chat-bg-color);
  box-shadow: 0 0 4px 0 var(--chat-shadow-color);
  border-radius: 10px;
  display: flex;
  overflow: hidden;
}

.dialogs {
  width: 220px;
  height: auto;
  border-right: 2px solid var(--chat-divider-line-color);
  flex-shrink: 0;
}

.selectedChat {
  flex: 1;
}
