.ChatPanel {
  background: var(--chat-bg-color);
  box-shadow: 0 0 4px 0 var(--chat-shadow-color);
  border-radius: 10px;
  display: flex;
  overflow: hidden;

  @media screen and (max-width: 1024px) {
    border-radius: 0;
  }
}

.dialogs {
  width: 220px;
  height: auto;
  border-right: 2px solid var(--chat-divider-line-color);
  flex-shrink: 0;

  @media screen and (max-width: 768px) {
    width: 100%;
    border: 0;
  }
}

.selectedChat {
  flex: 1;
}

.infoChat {
  width: 220px;
  height: auto;
  border-left: 2px solid var(--chat-divider-line-color);
  flex-shrink: 0;

  @media screen and (max-width: 768px) {
    width: 100%;
    border: 0;
  }
}
