.team {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;

  .title {
    font-size: 15px;
    line-height: 19px;
  }

  .iconArrow {
    width: 6px;
    height: 10px;
  }

  .iconTeam, .iconTeamAdd {
    width: 30px;
    height: 30px;
  }
}

.popover {
  padding: 10px 0 0 0;
  background: var(--bg-color) !important;
}
