.task {
  padding: 10px;
  background: var(--task-card-bg-color);
  border-radius: 5px;
  min-height: 75px;
  display: flex;

  &:hover {
    background: var(--task-card-hover-bg-color);
  }
}

.leftPanel {
  flex: 1;
  display: flex;
  flex-direction: column;

  .priority {
    margin-top: auto;
    display: flex;
    margin-left: 4px;
  }
}
