.icon {
  transform: translate3d(0,0,0);
  -webkit-backface-visibility: hidden;
  border: 1px solid yellow !important;
}

.applyFill {
  fill: var(--icon-color);
}

.applyStroke {
  stroke: var(--icon-color);
}

.applyImportantFill {
  fill: var(--icon-important-color);
}

.applyImportantStroke {
  stroke: var(--icon-important-color);
}

.applyHoverStroke:hover {
  stroke: var(--icon-hover-color);
}

.applyHoverFill:hover {
  fill: var(--icon-hover-color);
}
