.Picker {
  position: relative;
}

.itemsContainer {
  border: 1px solid transparent;
  width: max-content;
}

.activeItemsContainer {
  top: 0;
  left: -5px;
  position: absolute;
  z-index: var(--modal-z-index);
  border-radius: 10px;
  animation: activeItemsContainerBorder 1s ease-in-out forwards;
  background: var(--bg-color);
  padding: 0 5px 5px 5px;
}

.iconArrow {
  flex-shrink: 0;
}

@keyframes activeItemsContainerBorder {
  0% {
    border-left-color: transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
  }
  25% {
    border-top-color: var(--line-color);
  }
  50% {
    border-right-color: var(--line-color);
  }
  75% {
    border-bottom-color: var(--line-color);
  }
  100% {
    border-left-color: var(--line-color);
    border-color: var(--line-color);
  }
}

.items {
  animation: fadeIn 1s ease forwards;
  flex-direction: column;
  flex-wrap: nowrap;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
