.AddToGroup {
  padding: 10px;
  border-radius: 15px;
  width: 350px;
  height: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  background-color: var(--modal-bg-color);
}

.title {
  text-align: center;
  font-size: 20px;
  line-height: 26px;
}

.picker {
  flex: 1;
}

.add {
  flex-shrink: 0;
  height: 30px;
  width: 150px;
  margin: 0 auto;
  border-radius: 15px;
}
