.footer {
  margin-top: 20px;
  color: var(--link-text-color);
  line-height: 18px;
  font-size: 14px;

  &:hover {
    color: var(--link-text-hover-color);
  }

  &:focus-within {
    .error, .notchedOutline {
      border-width: 2px !important;
    }
  }
}

.subtitle {
  margin-top: 10px;
  font-size: 16px;
  line-height: 21px;
}
