.TabPicker {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;

  @media screen and (max-width: 768px) {
    gap: 5px;
  }

  @media screen and (max-width: 640px) {
    flex-direction: row;
    justify-content: center;
  }
}

.tabWrapper {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  width: 160px;
  position: relative;

  @media screen and (max-width: 768px) {
    width: 140px;
  }

  @media screen and (max-width: 640px) {
    width: auto;
  }
}

.tab {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
  color: var(--text-secondary-color);
  border: 1px solid transparent;
  border-bottom: none;
  transition: 0.3s all;

  @media screen and (max-width: 768px) {
    gap: 5px;
  }

  @media screen and (max-width: 640px) {
    gap: 5px;
  }

  &.canSelected {
    &:hover {
      background: var(--organization-tab-hover-bg-color);
      color: var(--text-color);
    }
  }

  &.selected {
    color: var(--text-color);

    &.canSelected {
      background: var(--organization-selected-tab-bg-color);
    }
  }

  &.openedTeamTab {
    border: 1px solid var(--line-color);
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .iconWrapper {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 768px) {
      width: 35px;
    }

    @media screen and (max-width: 640px) {
      width: auto;
    }

    .icon {
      width: 40px;
      height: 40px;

      @media screen and (max-width: 768px) {
        width: 35px;
        height: 35px;
      }

      @media screen and (max-width: 640px) {
        width: 30px;
        height: 30px;
      }
    }
  }

  .title {
    font-size: 20px;
    line-height: 26px;
    flex: 1;
    text-align: center;

    @media screen and (max-width: 768px) {
      font-size: 16px;
      line-height: 21px;
    }
  }
}

.scrollbarWrapper {
  @media screen and (max-width: 640px) {
    border: 1px solid var(--line-color);
    border-top: none;
    position: absolute;
    top: calc(100% - 1px);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 2;
    background: var(--bg-color);
    padding: 0 5px 5px 5px;
    width: 100%;
  }
}

.teams {
  display: flex;
  flex-direction: column;
  padding: 5px 0 5px 15px;
  gap: 5px;

  @media screen and (max-width: 768px) {
    padding-right: 0;
  }

  @media screen and (max-width: 640px) {
    padding: 0;
  }

  .team {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border-radius: 15px;
    transition: 0.3s;
    color: var(--text-secondary-color);

    @media screen and (max-width: 768px) {
      gap: 5px;
    }

    &:hover {
      color: var(--text-color);
    }

    &.selected {
      background: var(--organization-selected-tab-bg-color);
      color: var(--text-color);
    }

    &.canSelected:hover {
      background: var(--organization-tab-hover-bg-color);
    }

    .iconAddTeam, .avatar {
      width: 30px;
      height: 30px;
      flex-shrink: 0;

      @media screen and (max-width: 640px) {
        width: 25px;
        height: 25px;
      }
    }

    .name {
      font-size: 14px;
      line-height: 18px;
      white-space: normal;
      word-break: break-word;

      @media screen and (max-width: 768px) {
        font-size: 12px;
        line-height: 16px;
      }
    }
  }
}

.paper {
  padding: 5px;
  border-radius: 10px;
  background: var(--modal-bg-color) !important;
  border: 1px solid var(--line-color);
  height: 300px;
}
