.app_minimalistic_dark_theme {
  --bg-color: #000000;
  --text-color: #FFFFFF;
  --line-color: #4D4D4D;
  --error-text-color: #FF5252;
  --success-text-color: #4CAF50;

  --icon-color: #B3B3B3;
  --icon-hover-color: #808080;
  --icon-important-color: #FFFFFF;

  --input-bg-color: #1A1A1A;
  --input-stroke-color: #333333;
  --input-stroke-hover-color: #666666;
  --input-error-stroke-color: #D32F2F;
  --input-text-color: #FFFFFF;
  --input-placeholder-color: #A0A0A0;

  --button-bg-color: #333333;
  --button-bg-hover-color: #4D4D4D;
  --button-text-color: #FFFFFF;
  --button-text-disabled-color: #A0A0A0;

  --link-text-color: #808080;
  --link-text-hover-color: #FFFFFF;

  --checkbox-stroke-color: #4D4D4D;
  --checkbox-stroke-hover-color: #B3B3B3;
  --checkbox-active-stroke-color: #808080;
  --checkbox-bg-color: #1A1A1A;
  --checkbox-bg-hover-color: #4D4D4D;
  --checkbox-active-bg-color: #333333;

  --sidebar-bg-color: #303030;
  --sidebar-selected-link-bg-color: #393939;

  --changelog-chip-functional-bg-color: #4CAF50;
  --changelog-chip-ui-bg-color: #1E88E5;
  --changelog-chip-bugfix-bg-color: #D32F2F;
  --changelog-chip-text-color: #FFFFFF;
  --changelog-line-color: #4D4D4D;

  --about-developers-card-bg-color: #1A1A1A;
  --about-developers-box-shadow-color: rgba(255, 255, 255, 0.1);
  --about-developers-border-color: #4D4D4D;
  --about-developers-role-bg-color: #333333;
}
