.applyFill {
  fill: var(--icon-color);
}

.applyStroke {
  stroke: var(--icon-color);
}

.applyImportantFill {
  fill: var(--icon-important-color);
}

.applyImportantStroke {
  stroke: var(--icon-important-color);
}
