.Members {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  height: 100%;
}

.iconInfo, .iconFilter {
  width: 40px;
  height: 40px;
}

.infoWrapper {
  display: flex;
  gap: 20px;

  .info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 16px;
    line-height: 21px;
    justify-content: center;

    .description {
      max-width: 900px;
      color: var(--text-secondary-color);
    }
  }
}

.filter {
  display: flex;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;

  .searchWrapper {
    width: 200px;
  }

  .roles {
    display: flex;
    font-size: 14px;
    line-height: 18px;
    gap: 5px;

    .selectedRoles {
      color: var(--text-secondary-color);
      cursor: pointer;
    }
  }
}

.members {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  .member {
    background: var(--organization-member-card-bg-color);
    border-radius: 25px;
    gap: 5px;
    display: flex;
    align-items: center;
    min-width: 230px;
    padding: 10px;

    .info {
      display: flex;
      flex-direction: column;
      font-size: 16px;
      line-height: 21px;
    }

    .iconActionMenu {
      margin-left: auto;
      cursor: pointer;
      width: 5px;
      height: 20px;
    }

    .iconMemberAdd {
      width: 50px;
      height: 50px;
    }
  }
}

