.form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
}

.InputWrapper {
  display: flex;
  gap: 10px;
  align-items: start;
}

.label {
  font-size: 16px;
  line-height: 20.7px;
}

.emailIcon {
  width: 16px;
  height: 12px;
}

.showPassword {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapperInput {
  border-radius: 12px !important;
  background: var(--input-bg-color);
  padding-right: 10px !important;

  .input {
    font-size: 16px !important;
    line-height: 18px;
    color: var(--input-text-color) !important;
    background: none !important;

    &::placeholder {
      color: var(--input-placeholder-color) !important;
    }
  }

  .notchedOutline {
    border-color: var(--input-stroke-color) !important;
    border-width: 1px !important;
  }
}

.rememberForgot {
  display: flex;
  align-items: center;

  .forgot {
    margin-left: auto;
    color: var(--link-text-color);
    line-height: 18px;
    font-size: 14px;

    &:hover {
      color: var(--link-text-hover-color);
    }
  }
}

.submit {
  margin-top: 10px;
  width: 100%;
  background: var(--button-bg-color);
  color: var(--button-text-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  border-radius: 25px;
  height: 50px;

  &:hover {
    background: var(--button-bg-hover-color);
  }
}
