.form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
}

.FieldWrapper {
  display: flex;
  align-items: start;
}

.label {
  font-size: 16px;
  line-height: 21px;
  text-align: left;
  margin-bottom: 10px;
}

.emailIcon {
  width: 16px;
  height: 12px;
}

.showPassword {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rememberForgot {
  display: flex;
  align-items: center;

  .forgot {
    margin-left: auto;
    color: var(--link-text-color);
    line-height: 18px;
    font-size: 14px;

    &:hover {
      color: var(--link-text-hover-color);
    }
  }
}

.submit {
  margin-top: 10px;
  width: 100%;
  background: var(--button-bg-color);
  color: var(--button-text-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  border-radius: 25px;
  height: 50px;

  &:hover {
    background: var(--button-bg-hover-color);
  }
}

.error {
  font-size: 16px;
  line-height: 21px;
  color: var(--error-text-color);
}
