.column {
  min-width: 373px;
}

.header {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  border-bottom: 1px solid var(--line-color);
}

.tasks {
  padding: 10px;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.isOver {
  border: 2px dashed var(--line-color) !important;

  .header {
    height: 48px;
  }
}

.selectedTask {
  background: var(--task-selected-card-bg-color) !important;
}
