.TaskBoardViewWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}

.TaskBoardView {
  display: flex;
  border: 1px solid var(--line-color);
  overflow: hidden;
  border-radius: 5px;
  height: 100%;
}

.filters {
  display: flex;
  height: 30px;
  gap: 20px;
  align-items: center;
  font-size: 16px;
  line-height: 21px;

  .filter {
    color: var(--text-secondary-color);
    text-decoration: line-through;
    cursor: pointer;
  }
}

.columns {
  display: flex;
  height: 100%;

  .column {
    flex: 1;

    &:not(:last-child) {
      border-right: 1px solid var(--line-color);
    }
  }
}

.selectedTask {
  flex-shrink: 0;
  width: 560px;
  padding: 10px;
  border-left: 3px solid var(--line-color);
}
