.Messages {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.messageGroup {
  display: flex;
  gap: 12px;
  position: relative;

  @media screen and (max-width: 768px) {
    margin: 0 10px;
  }

  &.myMessageGroup {
    @media screen and (max-width: 768px) {
      margin-left: auto;

      .messages {
        align-items: end;
      }
    }
  }

  .messages {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .avatar {
    position: sticky;
    bottom: 0.5px;
    margin-top: auto;
    flex-shrink: 0;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}

.dateSeparator {
  width: 100%;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
}

.message {
  background: var(--message-bg-color);
  padding: 10px;
  width: fit-content;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 7.5px;

  .sender {
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
  }

  .textWrapper {
    width: auto;
    line-height: 1;
    position: relative;

    .text {
      font-size: 14px;
      line-height: 18px;
      word-break: break-word;
      white-space: pre-wrap;
    }

    .time {
      font-size: 12px;
      line-height: 14px;
      color: var(--text-secondary-color);
      position: relative;
      top: 4px;
      float: right;
      margin-left: 5px;
    }
  }
}

.myMessage {
  background: var(--message-my-bg-color);
}

.lastMessage {
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 11px;
    height: 15px;
    clip-path: polygon(0 100%, 100% 0, 100% 100%);
    background-color: var(--message-bg-color);
  }
}

.messageGroup {
  .topMessage {
    border-radius: 15px 15px 15px 5px;
  }

  .middleMessage {
    border-radius: 5px 15px 15px 5px;
  }

  .lastMessage {
    border-radius: 5px 15px 15px 0;
    position: relative;

    &::after {
      left: -10px;
    }
  }

  .lastMessage.myMessage {
    &::after {
      background-color: var(--message-my-bg-color);
    }
  }

  .topMessage.lastMessage {
    border-radius: 15px 15px 15px 0;
  }
}

.myMessageGroup {
  @media screen and (max-width: 768px) {
    .topMessage {
      border-radius: 15px 15px 5px 15px;
    }

    .middleMessage {
      border-radius: 15px 5px 5px 15px;
    }

    .lastMessage {
      border-radius: 15px 5px 0 15px;
      position: relative;

      &::after {
        left: auto;
        right: -10px;
        transform: scaleX(-1);
      }
    }

    .topMessage.lastMessage {
      border-radius: 15px 15px 0 15px;
    }
  }
}
