.ContactPicker {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
}

.contactsList {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-height: 300px;
}

.contactItem {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;

  .name {
    font-size: 14px;
    line-height: 18px;

    @media screen and (max-width: 768px) {
      font-size: 16px;
      line-height: 21px;
    }
  }
}

.checkbox {
  margin-left: auto;
}

.checkboxSkeleton {
  margin-right: 10px;
}
