.organization {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;

  .title {
    font-size: 25px;
    line-height: 32px;
  }

  .iconArrow {
    width: 9px;
    height: 17px;
  }

  .iconOrganization, .iconOrganizationAdd {
    width: 50px;
    height: 50px;
  }
}

.popover {
  padding: 10px 0 0 0;
  background: var(--bg-color) !important;
}
