.empty {
  font-size: 24px;
  line-height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;

  .iconPeople {
    position: absolute;
    opacity: 0.2;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
  }
}

.SelectedChat {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.Header {
  border-bottom: 1px solid var(--chat-divider-line-color);
  flex-shrink: 0;
}

.MessageInput {
  border-top: 1px solid var(--chat-divider-line-color);
  flex-shrink: 0;
}

.Messages {
  margin: 0 5px 5px 5px;
  height: 100%;
}
