.ManageBoard {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.header {
  display: flex;
  gap: 50px;
  align-items: center;
  flex-wrap: wrap;

  .createTask {
    padding: 5px;
    border-radius: 15px;
  }
}

.content {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  gap: 20px;

  .iconAnalytics {
    opacity: 0.1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .text {
    font-size: 26px;
    font-weight: bold;
    max-width: 460px;
    text-align: center;
    align-self: center;
    margin: 0 auto;
    z-index: 1;
  }
}

.teamPickerImage {
  width: 50px !important;
  height: 50px !important;
}

.teamPickerText {
  font-size: 25px;
  line-height: 32px;
}

.teamPickerIconArrow {
  width: 9px;
  height: 17px;
}
